/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 124 |     &_text {
 *     |     ^^^^^^^
 *     '
 *   style\header.scss 124:5  @import
 *   style\index.scss 5:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 124 \2502      &_text {\d\a     \2502      ^^^^^^^\a     \2575 \a   style\\header.scss 124:5  @import\a   style\\index.scss 5:9     root stylesheet';
}
