.header{
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;

    &_button{
      display: none;

      @include for-large-up{
        display: block;
      }
    }

    &_menu-button{
      width: 58px;
      border: none;
      border-left: 1px solid #00000026;
      height: 100%;
      margin-left: auto;
      background: transparent;

      @include for-large-up{
        display: none;
      }
    }

    &_menu-icon{
      display: inline-block;
      width: 18px;
      height: 13px;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    }

    @include for-large-up{
      width: 1140px;
      height: 62px;
      margin: auto;
      display: flex;
      background-color: #F3C6BD;
    }
}

.top-section {
  background-color: #F3C6BD;

  @include for-large-up{
    background-color: #F3C6BD; 
    padding-top: 39px;
  }
}
.navigation{
  display: none;

    &-list_item {
      font-size: 18px;
      line-height: 25px;
      color: #2B292D;
      margin-right: 50px;
    
        &:last-child {
          margin-right: 0px;
        }
    
        &_selected {
          font-weight: 700;
        }
    }

    &_arrow {
      width: 8px;
      height: 7px;
      display: inline-block;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 11px;
    }
    
    @include for-large-up{
      display: block;
      margin-left: auto;
      margin-top: 7px;
      margin-right: 75px;
    }
}

.logo {
  display: flex;

    &_image {
      width: 48px;
      height: 48px;
      margin-right: 13px;
    }

    &_name {
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;

      @include for-large-up{
       width: 60px;
        height: 60px;
        margin-right: 15px;
      }
    }

    &_description {
      display: none;

      @include for-large-up{
        display: inline;
        font-size: 18px;
        line-height: 25px;
        color: #2B292D;
        opacity: 0.6;
  }
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }



